:root {
    --tp-body-color: #5A5860;
    --tp-theme-color: #FFCF4E;
    --tp-primary-color: #063D30;
    --tp-primary-color-2: #055C4D;
    --tp-secondry-color: #FE4E15;
    --tp-pink-color: #FF73AE;
    --tp-white-color: #fff;
    --tp-black-color: #000;
    --tp-heading-color: #121018;
    --tp-gray-color: #F2F0EC;
    --tp-gray-color-2: #F8F3E7;
}