$font-url : 'https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Sue+Ellen+Francisco&family=Tillana:wght@400;500;600;700;800&display=swap';

:root {
    --tp-font-body: "Inter", sans-serif;
    --tp-font-heading: "Libre Baskerville", serif;
    --tp-font-heading-2: "Libre Baskerville", serif;
    --tp-font-sub-heading: "Sue Ellen Francisco", cursive;
    --tp-font-sub-heading-2: "Tillana", system-ui;
    // --tp-font-flaticon: "flaticon";
}