@use '../../utils/' as *;

/*----------------------------------------*/
/*  3.2.9 Fact
/*----------------------------------------*/

.tp-fact {
    &-item {
        @media #{$lg,$md} {
            width: 50%;
        }
        & P {
            color: #454449;
        }
        &-border {
            border-left: 2px solid var(--tp-theme-color);
            &-2 {
                border-right: 1px solid rgba(255, 255, 255, 0.10);
                padding: 24px 0;
                @media #{$lg,$md,$xs} {
                    width: auto;
                }
                @media #{$md,$xs} {
                    border: none;
                }
                & p {
                    @media #{$lg,$md,$xs} {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}